@model locker.Models.Contacto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechanac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechanac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fechareg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fechareg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sugerencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sugerencias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContactoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
