@model IEnumerable<locker.Models.Contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechanac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fechareg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sugerencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ip)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fechanac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fechareg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sugerencias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ip)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactoID })
        </td>
    </tr>
}

</table>
